.defaultText{
   font-size: 12px;
   color: #333333
}

.bigTitle{
   font-size: 20px;
   font-weight: 500;
   color: #333333;
}

.mediumTitle{
   font-size: 16px;
   font-weight: 500;
   color: #333333
}

.smallTitle{
   font-size: 14px;
   color: #333333
}