button{
   border: 0;
   padding: 0;
   cursor: pointer;
   background: transparent;
}

button:focus {
   outline: unset;
}

.defaultButton{
   color: honeydew;
   background: #2c974b;
   border-radius: 5px;
   padding: 0 30px;
   height: 30px;
   margin: 10px;
   transition: background-color 0.3s ease;
}

.defaultButton:hover{
   color: #2c974b;
   background: honeydew;
   border: 1px solid #2c974b;
}

.largeButton{
   color: honeydew;
   background: #45b6fe;
   border-radius: 5px;
   padding: 0 30px;
   height: 30px;
   min-width: 170px;
   margin: 10px;
   transition: background-color 0.3s ease;
}

.largeButton:hover{
   color: #45b6fe;
   background: #f6f8ff;
   border: 1px solid #45b6fe;
}

.menuItem{
   border: 1px solid #C6c6c6;
   border-radius: 0px;
   height: 30px;
   min-width: 120px;
   margin: 10px 0;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color 0.3s ease;
}

.menuItem:hover{
   color:#666666;
   background: #DDDDDD;
}

.topButton{
   background-color: whitesmoke;
   width: 100%;
   height: 50px;
   border-radius: 5px 5px 0 0;
}

.topButton.focused{
   background-color: #c6c6c6;
}