button{
   border: 0;
   cursor: pointer;
}

button:focus {
   outline: unset;
}

.defaultButton{
   color: honeydew;
   background: #2c974b;
   border-radius: 5px;
   padding: 0 30px;
   height: 30px;
   margin: 10px;
}

.largeButton{
   color: honeydew;
   background: #45b6fe;
   border-radius: 5px;
   padding: 0 30px;
   height: 30px;
   min-width: 170px;
   margin: 10px;
}

.menuItem{
   border: 1px solid #C6c6c6;
   border-radius: 0px;
   height: 30px;
   min-width: 120px;
   margin: 10px 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.topButton{
   background-color: whitesmoke;
   width: 100%;
   height: 50px;
   border-radius: 5px 5px 0 0;
}

.topButton.focused{
   background-color: #c6c6c6;
}