.projectBoxContainer{
   width: 300px;
   min-height: 400px;
   border: 1px solid #C6C6C6;
   margin: 0 10px 10px 10px;
}

.topBar{
   background: linear-gradient(180deg, rgba(204,204,204,1) 0%, rgb(190, 190, 190) 70%);
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 30px;
}

.topBar div{
   margin: 0 10px;
   display: flex;
   align-items: center;
}

.checkList{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin: 10px;
}

.addNewTask{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
}

.pipeLine{
   border-top: 1px solid #C6C6C6;
   margin: 10px 10px;
}